@import 'tailwindcss';

@font-face {
  font-family: 'Michrona Regular';
  src: url('./assets/fonts/Michroma/Michroma-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: black;
  --color-font: white;
}

body {
  font-family: 'Michrona Regular';
  background-color: var(--color-bg);
  color: var(--color-font);
}
